// regole header
header {
    nav {
        background-color: black;
        
        div.topRight {
            display: $divFlex;
            justify-content: flex-end;
            ul{
                @include myListTypeMenu;

                li {
                    // si può sostituire con un mixin
                    color: $textColortopRight;
                    padding: $listPadding;
                    margin: $listMargin;
                }
            }
        };
        div.menu{
            display: $divFlex;
            justify-content: center;
            img {
                width: $logoImgWidth;
                height: auto;
            }
            ul {
                @include myListTypeMenu;
                li {
                    color: $textColorMenu;
                    padding: $listPadding;
                    margin: $listMargin;
                    a {
                        @include linkStyleText;
                     }
                }
            }
        }
    }
    div.jumbotron {
        @include jumbotron;
        align-content: flex-start;
        justify-content: center;
        div.leftCard {
            margin-left: 100px;
            align-self: flex-start;
            div.leftButton{
                @include buttonHeader;
                color: $textColorMenu;
            }
            div.rightButton {
                @include buttonHeader;
            }
        }
        
    }
}

main {
    div.adBox {
        margin: auto;
        width: 90%;
        h2{
            text-align: center;
        }
        div.adBoxContainer{
            display: $divFlex;
          
            div.adCard {
                margin: 10px;
                background-color: white;
                width: 33%;
    
                img {
                    width: 100%;
                }
            }
        }
    }

    div.serviceBox {
        margin: 10px auto;
        width: 90%;
        display: $divFlex;
        flex-wrap: wrap;
        div.card{
            width: 50%;
            height: 400px;
            display: $divFlex;
            flex-direction: column;
            justify-content: center;
            img { 
                height: 100%;
                width: auto;
            }
        }
    }

    div.contactsList {
        display: $divFlex;
        justify-content: space-around;
    }
    
}