@import "partials/variables";
@import "partials/homepage";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(173, 167, 167);
}

.purple {
    background-color: purple;
}

.grey {
    background-color: grey;
}

.lightblue {
    background-color: lightskyblue;
}
